<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Галерея сони клаб</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <a [routerLink]="['/pictures']">Галерея</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li> <a [routerLink]="['/pictures/upload']">Загрузить</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container app-component">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
