<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Галерея SonyClub</title>
  <base href="/"> {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

</head>

<body>
  <app-root>Loading...</app-root>



  {{#each scripts.polyfills}}
  <script src="{{.}}"></script>
  {{/each}}
  <script>
    System.import('system-config.js').then(function() {
      System.import('main');
    }).catch(console.error.bind(console));
  </script>



</body>

</html>
