<div *ngIf="picture">
  <div class="row">
    <h2 class="col-md-6">{{picture.title}} </h2>
    <div class="col-md-4">
      <button class="btn" (click)="goBack()">Назад</button>
    </div>
  </div>
  <div class="row">
    <img src="{{picture.path}}" style="max-width: 1280px">
  </div>
  <div class="row">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td> Камера </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.cameraModelName}}</td>
        </tr>
        <tr>
          <td> Объектив </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.lensId}}
        </tr>
        <tr>
          <td> Фокусное расстояние </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.focalLength}}
        </tr>
        <tr>
          <td> ИСО </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.iso}}
        </tr>
        <tr>
          <td> Диафрагма </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.aperture}}
        </tr>
        <tr>
          <td> Выдержка </td>
          <td> {{picture.pictureInfo.ExifInfoRaw.shutterSpeed}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
