<div>
  <div>
    <masonry class="masonry">
      <masonry-brick class="masonry-stone" *ngFor="let pic of pictures" (click)="gotoDetail(pic)">

        <img src={{pic.path}} width={{pic.gridWidth}} height={{pic.gridHeight}}>
      </masonry-brick>
    </masonry>
  </div>
  <app-picture-detail [picture]="selectedPicture">
  </app-picture-detail>
</div>
